:host {
  min-width: 45%;
}

.account-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80vh;
  max-height: 80vh;
  max-width: 100%;
  margin: 10px;
  border: 5px solid #AFC9FD;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px #AFC9FD;
  display: flex;
  flex-direction: column;
  background-color: #AFC9FD;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin: 25px 10px;
}

button {
  background-color: #EAFFFD;
  width: 115px;
  height: 50px;
  border: 0px solid #EAFFFD;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 16px;
}

#button-virement {
  background-color: #F1A66A;
}

#button-histo {
  background-color: #519E8A;

}

.button-delete {
  background-color: #EC0B43;
}
