.client-item {
  background-color: #EAFFFD;
  display: flex;
  flex-direction: row;
  border: 0px solid #EAFFFD;
  border-radius: 10px;
  margin: 5px;
  padding: 11px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.client-item:hover {
  cursor: pointer;
}
