<h2>AJOUTER COMPTE D'EPARGNE</h2>

<div>
    <form #f="ngForm">

        <div>
            <label for="">Numéro de compte</label>
            <input [(ngModel)]="savingsAccountToCreate.accountNumber" type="text" required="true" name="accountNumber">
        </div>

        <div>
            <label for="">Solde</label>
            <input [(ngModel)]="savingsAccountToCreate.solde" type="text" required="true" name="solde">
        </div>

        <div>
            <label for="">Taux</label>
            <input [(ngModel)]="savingsAccountToCreate.rate" type="text" required="true" name="taux">
        </div>

        <button (click)="return()" type="button">Retour</button>
        <button type="submit">Valider</button>


    </form>
</div>

<pre>
    {{f.value | json }}
</pre>