<div class="container-create-account-form">
  <div class="form-card">
    <h2>AJOUTER COMPTE D'EPARGNE</h2>
    <form #f="ngForm">

      <div class="form-group">
        <label for="solde">Solde</label>
        <input type="text" id="solde" name="solde" [(ngModel)]="savingsAccountToCreate.solde" placeholder="2000" required pattern="[0-9]+" #soldeInput="ngModel" onfocus="this.placeholder=''">
        <div *ngIf="!soldeInput.valid && (soldeInput.dirty || soldeInput.touched)" class="invalid-feedback">
          <div *ngIf="soldeInput.errors['required']">Le champ Solde est obligatoire.</div>
          <div *ngIf="soldeInput.errors['pattern']">Le champ Solde doit être un nombre entier et ne pas contenir d'espace.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="rate">Taux</label>
        <select [(ngModel)]="savingsAccountToCreate.rate" id="rate" name="rate" required class="select">
          <option value="3">3%</option>
          <option value="4">4%</option>
          <option value="5">5%</option>
          <option value="6">6%</option>
        </select>
      </div>

    </form>

  </div>
  <div class="action-buttons">
    <button (click)="return()" type="button" class="button-danger">Annuler</button>
    <button (click)="createSavingAccount(f.value)" type="submit" class="button-ok" [disabled]="f.invalid">Valider</button>

  </div>
</div>
