:host {
   min-width: 45%;
}

.container-list-client {
  height: 70vh;
  max-height: 70vh;
  max-width: 100%;
  margin: 10px;
  border: 5px solid #AFC9FD;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 1px #AFC9FD;
  display: flex;
  flex-direction: column;
  background-color: #AFC9FD;
  overflow: hidden;
}

.button-add {
    background-color: #519E8A;
    width: 200px;
    height: 50px;
    border: 0px solid #519E8A;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
