


<div class="details-container" *ngIf="clientData">
  <div class="details">
    <h3 id="name"> {{clientData.name }} {{clientData.firstname }}</h3>
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label">Prénom</label>
            <input [(ngModel)]="clientData.firstname" name="prenom" class="form-control" required="true" type="text">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Nom</label>
            <input [(ngModel)]="clientData.name" name="nom" class="form-control" required="true" type="text">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Adresse</label>
            <input [(ngModel)]="clientData.address" name="address" class="form-control" required="true" type="text">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Code Postal</label>
            <input [(ngModel)]="clientData.zipcode" name="zipcode" class="form-control" required="true" type="text">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Ville</label>
            <input [(ngModel)]="clientData.city" name="city" class="form-control" required="true" type="text">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Telephone</label>
            <input [(ngModel)]="clientData.phone" name="phone" class="form-control" required="true" type="text">
        </div>

    </fieldset>

    
  </div>
  <div class="buttons">
    <button  id="button-ok">annuler</button>
    <button (click) = "onEditClient()" id="button-alert">Modifier</button>

  </div>

</div>
