<p>update-client works!</p>
<form #f="ngForm">
    <fieldset>
       
        <h3 class="infos"> Informations Client</h3> 
        <div class="form-group">
            <label class="col-md-4 control-label">Nom</label>
            <input [(ngModel)]="client.name" name="name" class="form-control" required="true" type="text">
        </div>

        <div class="form-group">
        <label class="col-md-4 control-label">Prénom</label>
        <input [(ngModel)]="client.firstname" name="firstname" class="form-control" required="true" type="text">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Adresse</label>
            <input [(ngModel)]="client.address" name="address" class="form-control" required="true" type="text">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Code Postal</label>
            <input [(ngModel)]="client.zipcode" name="zipcode" class="form-control" type="text">
        </div>
     
        <div class="form-group">
            <label class="col-md-4 control-label">City</label>
            <input [(ngModel)]="client.city" name="city" class="form-control" type="text">
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Téléphone</label>
            <input [(ngModel)]="client.phone" name="phone" class="form-control" type="text">
        </div>
    </fieldset>
    <br>
    <button (click)="onUpdateClient()" type="submit" class="btn btn-success">Valider</button>
</form>