<div class="container-accueil">
<!--     <app-client-list (clientToAccueil)="recupererSelectedCli($event)"></app-client-list>
    <app-client-details [cliSelected]="selectedClient"></app-client-details> -->
  </div>
        <h4>Informations</h4>
        <table>
            <tbody>
                <tr>
                    <td>
                        <strong>Nom</strong> {{ clientInfos.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Profession</strong> {{ clientInfos.firstname }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button routerLink="edit" class="btn btn-primary">
                Update
            </button>
        </div>