<div class="container-create-account-form">
  <div class="form-card">
    <h2>AJOUTER COMPTE COURANT</h2>
    <form #f="ngForm">
      <div class="form-group">
        <label for="">Numéro de compte</label>
        <input [(ngModel)]="currentAccountToCreate.accountNumber" type="text" required="true" name="accountNumber" placeholder="12345" onfocus="this.placeholder=''">
      </div>

      <div class="form-group">
        <label for="">Solde</label>
        <input [(ngModel)]="currentAccountToCreate.solde" type="text" required="true" name="solde" placeholder="1000" onfocus="this.placeholder=''">
      </div>

      <div class="form-group">
        <label for="">Seuil</label>
        <input [(ngModel)]="currentAccountToCreate.threshold" type="text" required="true" name="threshold" placeholder="1000" onfocus="this.placeholder=''">
      </div>
    </form>

  </div>
  <div class="action-buttons">
    <button (click)="return()" type="button" class="button-danger">Annuler</button>
    <button (click)="createCurrentAccount(f.value)" type="submit" class="button-ok">Valider</button>
  </div>
</div>
